/* Overriding the browser styles */
body {
  margin: 0px;
}
a {
  text-decoration: none;
}
section {
  display:block;
}
/* styles for the header that contain banner,logo and name */
.tlp-banner {
  width:100%;
  height:100px;
  position:relative;
}
/* Banner style*/
.tlp-banner img.tlp-banner-img {
  width:100%;
  height:100%;
}
/* Styles for logo and name */
.tlp-banner .tlp-banner-content {
  position:absolute;
  top:0%;
  left:0%;
  background-color:rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  color:white;
}
/* Logo styles */
.tlp-banner-content .tlp-logo-img {
  margin-left:2%;
}
.tlp-banner-content .tlp-logo-img,.tlp-banner-content .tlp-team-name {
  float:left;
  line-height:100px;
  vertical-align: middle;
  color:white;
}
.tlp-banner img.tlp-logo-img {
    width:100px;
    height:100px;
}

.tlp-details {
  width:70%;
  float:right;
}
/* Clearing the float after the tlpDetails block which includes title,
decription and department links */        
.tlp-details::after {
  content:'';
  clear:both;
}
/* Applying styles for department links */        
.tpl-departments nav ul {
  list-style: none;
  padding:0px;
}
.tpl-departments nav ul li {
  display: inline-block;
 
}
/* Adding content | before department links excpet the first link */ 
.tpl-departments nav ul li:nth-of-type(n+2)::before {
  content: "|";
  margin-left:6px;
  margin-right:6px;
  color:#ccc;
}

.tpl-departments nav ul li a {
  color:inherit;
}

/* Applying styles for smaller screen */
@media (max-width: 769px) {
  /* Hiding the banner,logo and team details */
  .tlp-banner img.tlp-banner-img,
  .tlp-banner .tlp-banner-content .tlp-logo-img,
  .tlp-details {
    display:none;
  }
  /* Overriding the styles for tlpHeader  */    
  .tlp-banner {
    height:auto;
  }
  
  .tlp-banner .tlp-banner-content {
    background:transparent;
  }
  .tlp-banner .tlp-team-name {
    color:black;
    padding:5px;
    line-height:normal;
  }
}